// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .owl-dots{
    position: absolute;
    right: 30px;
    bottom: -130px;
  }


 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  

  .owl-carousel button.owl-dot{
    width:120px;
    height: 13px;
    background: #3e454c;
  }
}